/* Cores padrão */
:root {
    --color-one:#fc4e03;
    --color-two:#ebd2c985;
    --color-tree:#f2f2f2f2;
    --color-four:#2b2929ad;
    --color-five:#dbd6d5f3;
    --color-six:#993d07;
    --color-seven:#000;
    --color-eight:#121212;
    --color-nine:#4e4d4d;
    --color-ten:#cf530c83;
}
/*****/