/* IMPORT CORES */
@import "./color.css";
/***/

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/****/

/* font*/
:root {
    --font-roboto:Roboto;
}
/****/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style-type: none;
    
}

html,body {
    height:100%;
}


header.mobile {
    display:none;
    width:100%;
    padding:30px 0;
    background-color:var(--color-seven);
}


.flex-mobile {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 2%;
}

.mobile-profile img {
    width:60px;
    height:60px;
    border-radius: 100%;
    border: 5px solid var(--color-six);
    background-clip: padding-box;
    border-style:solid;
}

.space-fill {
    max-width:1200px;
    padding:0 2%;
}

.icon-mobile {
    width: 32px;
    height:32px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    cursor:pointer;
}


.menu-mobile {
    width: 0%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-color:var(--color-one);
    overflow: hidden;
    transition:width .5s;
    z-index: 99999;
}

.nav-mobile {
    margin:200px 0;
}

.nav-mobile ul li {
    padding:20px 5%;
}

.nav-mobile ul li:hover {
     border-left: 5px solid var(--color-seven);
     background-color:var(--color-four);
}

.nav-mobile ul li a {
    color:var(--color-two);
    font-size:1.2rem;
    font-family: var(--font-roboto);
}

.nav-mobile ul li a:hover {
    color:var(--color-eleven);
}

.nav-mobile .selected {
    color: var( --color-eleven);
} 

.menu-mobile.show-menu {
    width: 70%;
}

.btn-close {
  float:right;
  padding:30px 5%;

}

.btn-close i {
    color:var(--color-tree);
    font-size:2rem;
    cursor:pointer;
}


.container {
    display:flex;
}

.sidebar {
    width:20%;
    height:100%;
    position: fixed;
    background-color:var(--color-one);
    border-right:3px solid var(--color-six);
}

.sidebar-pos {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.image {
    margin-bottom:1.2rem;
    text-align:center;
}

.image img {
    width:40%;
    border-radius:50%;
    border:6px solid var(--color-two);
    background-clip: padding-box;
    border-style:solid;
}


.menu ul li {
    width: 100%;
    text-align: center;
    padding:20px 0;
}

.menu ul li.active {
     border-left: 5px solid var(--color-seven);
     background-color:var(--color-four);
}

.menu li:hover {
     border-left: 5px solid var(--color-seven);
     background-color:var(--color-four);
}

.menu ul li a {
    color:var(--color-tree);
    font-size:1rem;
    font-family:var(--font-roboto);
    opacity: 0.8;
}


.menu ul li a:hover {
    color:var(--color-five);
}

.menu a.selected {
    opacity:1;
}


.content {
    width: 80%;
    height:100%;
    background-color:var(--color-tree);
    position:absolute;
    left: 20%;
    overflow-y: auto;
    padding:0 5%;
}

.description {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.title h2 {
    color:var(--color-seven);
    font-size:7.3rem;
    font-style: italic;
    font-family:var(--font-roboto);
    margin-bottom:1.3rem;
}

.title h2 span {
 color:var(--color-one);
}

.wrapper-info {
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap: 1.2rem;
}

.wrapper-info h3 {
    color:var(--color-eight);
    font-size: 1.1rem;
    font-family: var(--font-roboto);
}

.wrapper-info .email {
    color:var(--color-one);
}

.text {
    color: var(--color-nine);
    font-size:1rem;
    font-family:sans-serif;
    max-width:730px;
    margin-top: 1.3rem;
    text-align: justify;
    line-height:1.5rem;
}

.icon-social {
    display:flex;
    align-items:center;
    gap:1.4rem;
    margin-top:1.5rem;
}

.social {
    width:50px;
    height:50px;
    border-radius: 100%;
    background-color:var(--color-eight);
    position: relative;
    transition: .5s ease-in;
    border:6px solid var(--color-ten);
    background-clip: padding-box;
    border-style:solid;
    cursor:pointer;
}

.social:hover {
    opacity:0.8;
}

.social i {
    color: var(--color-one);
    font-size:1.1rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

